test-classes
target

/target
/src/main/webapp/WEB-INF/web.xml
/.classpath
/.idea
/bin/
/src/main/resources/config.properties
/.settings

tmp/
temp/
target/
build/
log/
logs/
.project
.classpath
.settings/
.metadata/
*.iml
*.ipr
*.iws
*.bin
*/*.iml
*/*.ipr
*/*.iws
out/
.DS_Store
*.sublime-*
node_modules/
.ebextensions
*.rdb
*.log
.gradle
.idea/
.idea/*
*.swp
