<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nstepa.wc.mybatis.support.mappers.DictItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="DictItemMap" type="com.nstepa.wc.beans.DictItem">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="sort" property="sort" />
        <result column="type_id" property="typeId" />
        <result column="note" property="note" />
        <result column="create_time" property="createTime" />
        <result column="create_uid" property="createUid" />
        <result column="update_time" property="updateTime" />
        <result column="update_uid" property="updateUid" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <select id="getDictItemByType"   resultType="com.nstepa.wc.beans.DictItem">
        SELECT
            sdi.id,
            sdi.`name`,
            sdi.sort,
            sdi.note
        from
             sys_dict_type as sdt
        LEFT JOIN sys_dict_item as sdi ON sdt.id = sdi.type_id
        where
            sdt.del_flag=0
        and sdi.del_flag=0
        <if test="dictType != null and dictType !=''">
            and sdt.`name`=#{dictType}
        </if>
        ORDER BY sdi.sort asc
    </select>
</mapper>
